:root {
  --primary-color: #4d5ae5;
  --pressed-color: #404bbf;
  --dark-color: #2e2f42;
  --white-color: #ffffff;
  --body-text: #434455;
  --back-color-button: #e7e9fc;
  --back-graund-color: #e5e5e5;
  --back-color-section: #f4f4fd;
  --back-color-btn-order: #404bbf;
  --subtle-text: #8e8f99;
  --green-color-socail: #31d0aa;
  --back-color-modal-order: #fcfcfc;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1158px;
  outline: 2px solid red;
  outline-offset: 2px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-portfolio {
  width: 1158px;
  outline: 2px solid red;
  outline-offset: 2px;
  margin-left: auto;
  margin-right: auto;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--body-text);
  background-color: var(--white-color);
}
/**
  |============================
  | Heder
  |============================
*/
.header-border {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 4px;
  display: block;
  /* background-color: var(--back-color-btn-order); */
  border-radius: 2px;
}
.header-nav-link.current {
  color: var(--back-color-btn-order);
}
.header-nav-link.current::after,
.header-nav-link:hover::after,
.header-nav-link:focus::after {
  background-color: var(--back-color-btn-order);
}
.nav-menu {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.nav-menu-list {
  display: flex;
}
.header-nav-link {
  display: block;
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
}
.adress-list-menu {
  display: flex;
  gap: 40px;
}
.header-contact {
  gap: 40px;
}
.header-two {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
}
.logo {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.color {
  color: var(--dark-color);
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-header {
  color: var(--body-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.li-color {
  color: var(--dark-color);
}

.blok {
  display: none;
}
address {
  font-style: normal;
}
.active:hover,
.active:focus {
  color: var(--pressed-color);
}
.list a {
  color: var(--dark-color);
}
a.nav-link {
  color: var(--body-text);
}
.text-contact {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/**
  |============================
  | Section Hero
  |============================
*/
.hero {
  background-color: var(--dark-color);
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people.jpg);
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-container1 {
  width: 1158px;
  height: 600px;
}

/**
  |============================
  | Section2 icon
  |============================
*/

.features-list-content {
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.icon-container {
}

.titel-one {
  text-align: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 64px;
}
.btn-order {
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.btn-order:hover,
.btn-order:focus {
  background-color: var(--back-color-btn-order);
}
.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-color);
  background-color: var(--back-color-section);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--back-color-button);
  border-radius: 4px;
}
.btn:hover,
.btn:focus {
  color: var(--white-color);
  background-color: var(--pressed-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.link-content {
  display: block;
}
.link-content:hover,
.link-content:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.advatages {
  padding-top: 120px;
  padding-bottom: 120px;
}
.scetion-advatages-list {
  display: flex;
  gap: 24px;
  flex-basis: calc((100% - 3 * 24px) / 4);
  margin-left: auto;
  margin-right: auto;
}
.two {
  margin-bottom: 72px;
}
.headers {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.headers-titel {
  margin-bottom: 8px;
}
.advantages-list {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text);
  margin-bottom: 8px;
}
.section-doing {
  padding-bottom: 120px;
}
.scetion-doing-list {
  display: flex;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
}
.img-list {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.section-team {
  background-color: var(--back-color-section);
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-menu {
  display: flex;
  gap: 24px;
}
.team-name {
  margin-bottom: 8px;
}
.user {
  padding: 32px 0px 32px;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

/**
  |============================
  | Social icon list
  |============================
*/

.social {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.social-items {
  width: 40px;
  height: 40px;
}
.social-link {
  background-color: #4d5ae5;
  display: flex;
  width: 100%;
  height: 100%;

  gap: 12;
  color: var(--subtle-text);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
  fill: #f4f4fd;
}

.social-icon {
}
/* section-Costomers */
.customers-header {
  margin-bottom: 72px;
  line-height: 1.1;
}
.section-customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-menu {
  display: flex;
  gap: 24px;
  list-style: none;
}
.customers-items {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;

  width: calc((100% - 120px) / 6);
  height: 88px;
}
.customers-link {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  color: var(--subtle-text);
}
.customers-link:hover,
.customers-link:focus {
  border-color: var(--back-color-btn-order);
  border-radius: 4px;
  color: var(--pressed-color);
}
.customers-icon {
  fill: currentColor;
}

.footer-background {
  background-color: var(--dark-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.header-link {
  display: inline-block;
  margin-bottom: 16px;
}
/**
  |============================
  | Footer
  |============================
*/
.footer-background .color {
  color: var(--back-color-section);
}
.text-footer-color {
  color: var(--back-color-section);
  max-width: 264px;
  line-height: 1.5;
}
.footer-container {
  display: flex;
  /* gap: 120px; */
  align-items: baseline;
}
.footer-items-left {
  margin-right: 120px;
}
.social-media {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-color);
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.social-footer-menu {
  display: flex;
  gap: 16px;
  width: 40px;
  height: 40px;
}
.social-footer-items {
  /* display: flex; */
  list-style: none;
  /* justify-content: center;
  align-items: center; */
}
.social-footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-color);
}
.social-icon-footer {
  fill: var(--back-color-section);
}
.social-footer-link:hover,
.social-footer-link:focus {
  background-color: var(--green-color-socail);
}

.menu {
  background-color: var(--white-color);
}
.color-sec {
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.section-main {
  padding-top: 96px;
  padding-bottom: 120px;
}
/* PORTFOLIO  */

.menu-list-filter {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
}
.list-content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.content {
  width: calc((100% - 48px) / 3);
}
.name-content {
  padding: 32px 16px;
  border: 1px solid var(--back-color-button);
  border-top: none;
}
.headers-content {
  margin-bottom: 8px;
}
/**
  |============================
  | modal order service
  |============================
*/
.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
}
.modal {
  position: absolute;
  z-index: 10;

  top: 80px;
  left: 40%;
  padding: 24px;
  width: 408px;
  min-height: 584px;
  cursor: pointer;

  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-btn {
  /* display: flex;
  justify-content: center;
  align-items: center; */

  background: #e7e9fc;

  border-radius: 50%;

  display: block;
  margin-left: auto;

  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-icon {
}
